language: java
before_install:
  - git clone https://github.com/hy-ohtu/PaivanUutiset.git
  - cd PaivanUutiset && mvn clean install
  - git clone https://github.com/hy-ohtu/HackerNewsUutiset.git
  - cd HackerNewsUutiset && mvn clean install
after_success:
  - mvn clean cobertura:cobertura coveralls:report